
table {
  font-family: arial, sans-serif;
  font-size: 25px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

select, button, input, p {
  font-family: arial, sans-serif;
  font-size: 25px;
}

button {
  border-radius: 8px; 
  background-color: #555555; 
  color: white;
} /*rounded button, black */

.bnf_good {
  color: black;
}

.bnf_bad {
  color: orange;
}

.bnf_very_bad {
  color: red
}
